
/**
 *
 * COMPONENT NAME
 *
 * small description about your component; what it does
 *
 */


//// VARIABLES
//// -------------------------------------------
$example-component-size : 20rem;
$example-component-color: #4DAE73;


//// STYLES
//// -------------------------------------------
.example {
	width: $example-component-size;
	height: $example-component-size;
	border-radius: 50%;
	background-color: $example-component-color;
}