
<!-- Title & Description -->
<div class="sg-component__description">
    Description
</div>

<div class="sg-component__sub-title">
    <span>Component title or subtitle</span>
</div>



<!-- Example START -->


    <!-- Replace this comment with the example HTML for your component. -->


<!-- Example END -->



<!--
    IMPORTANT: 
    The code below here is not required for this component to run, it only 
    creates working examples of the component.
-->



<!-- Style guide glue CSS START-->

<!-- Style guide glue CSS END-->



<!-- Style guide glue JS START-->
<script type="text/javascript">
    $(document).ready(function() {

    	// Replace this comment with your style guide glue JS.
    	// Note: JS to power your component doesn't belong here, see 'component.js'

    });
</script>
<!-- Style guide glue JS END -->