/**
 *
 * Colours
 *
 * For naming, read: http://davidwalsh.name/sass-color-variables-dont-suck
 * Naming generator: http://chir.ag/projects/name-that-color/
 *
 * Don't make up or use generic names. i.e. color__red, color_my-cool-colour
 * Though you might want to associate a few simple colours for reference
 *
 * Black and white can be as HTML colours, color: black; color: white;
 */


//// All colours
//// -------------------------------------------
$color__mercury     : #e1e1e1;
$color__silver      : #ccc;
$color__dusty-grey  : #999;
$color__mine-shaft  : #222;
$color__matrix      : #AF5050;
$color__jungle-green: #27ae60;
$color__buttercup   : #f39c12;
$color__mariner     : #2980b9;


//// Semantic names
//// -------------------------------------------
// Assign colours to more meaningful and re-usable names
// (restrict to a couple truly global colours only)
$color__primary  : $color__matrix;
$color__secondary: $color__mercury;
$color__error    : $color__matrix;
$color__success  : $color__jungle-green;
$color__warning  : $color__buttercup;
$color__info     : $color__mariner;