
/**
 *
 * Colours
 *
 * For naming, read: http://davidwalsh.name/sass-color-variables-dont-suck
 * Naming generator: http://chir.ag/projects/name-that-color/
 *
 * Don't make up or use generic names. i.e. color__red, color_my-cool-colour
 * Though you might want to associate a few simple colours for reference
 *
 * Black and white can be as HTML colours, color: black; color: white;
 */


//// All colours
//// -------------------------------------------
$color__concrete    : #f3f3f3;
$color__mercury     : #e7e7e7;
$color__alto        : #d5d5d5;
$color__silver      : #ccc;
$color__dusty-grey  : #999;
$color__grey        : #888;
$color__scorpion    : #5f5f5f;
$color__tundora     : #4a4a4a;
$color__mine-shaft  : #222;

$color__lima          : #7ed321;
$color__pants-green   : #49bfb5;
$color__face-orange   : #f6921e;
$color__havelock-blue : #529ae3;
$color__crimson       : #dd1041;

//// Semantic names
//// -------------------------------------------
// Assign colours to more meaningful and re-usable names
// (restrict to a couple truly global colours only)
$color__primary  : $color__pants-green;
$color__secondary: $color__face-orange;
$color__error    : $color__crimson;
$color__success  : $color__pants-green;
$color__warning  : $color__face-orange;
$color__info     : $color__havelock-blue;