
/**
 *
 * LISTS
 *
 *
 * Tested to work on (windows/mac):
 *	Chrome xx.xx+
 *	Safari xx.xx+
 *	Firefox xx.xx+
 *	IE xx.xx+
 *	Android xx.xx+
 *	iOS xx.xx+
 */



//// VARIABLES
//// -------------------------------------------
// Variables which are just straight mappings should not be overrideable here
// (i.e., no !default on the end). Variables which reference $mb-global-* or
// are modifying other variables (e.g., mix(...)) should have !default on the
// end so they can be individually overridden if need be

//$mb-lists-item-padding-bottom: 1rem !default;
//$mb-lists-ul-list-style-type--primary: disc !default;
//$mb-lists-ul-list-style-type--secondary: circle !default;
//$mb-lists-ul-list-style-type--tertiary: square !default;
//$mb-lists-ordered-separator: "." !default;



//// DEFINITIONS
//// Add/remove as needed per project
//// -------------------------------------------

.list-ul {
	@extend %list-ul;

	&.list--unstyled { @extend %list--unstyled; }
	&.list--inline   { @extend %list--inline;   }
}

.list-ol {
	@extend %list-ol;

	&.list--unstyled { @extend %list--unstyled; }
	&.list--inline   { @extend %list--inline;   }
}

.list--unstyled {
	@extend %list--unstyled;
}

.list--inline {
	@extend %list--inline;
}



//// SILENT CLASSES
//// -------------------------------------------

// Li styling, used in both ul's and ol's.
%list-li {
	padding-bottom: $mb-lists-item-padding-bottom;

	&:last-of-type {
		padding-bottom: 0;
	}

	ul, ol {
		padding: $mb-lists-item-padding-bottom 0 0 0;
		margin: 0;
	}
}

// Unordered lists
%list-ul {
	padding: 0 0 $mb-lists-item-padding-bottom 0;
	margin: 0;
	list-style-position: inside;
	list-style-type: $mb-lists-ul-list-style-type--primary;

	li {
		@extend %list-li;
		padding-left: 3.25rem;
		text-indent: -1.3rem;
	}

	// Secondary
	& ul > li {
		list-style-type: $mb-lists-ul-list-style-type--secondary;
	}

	// Tertiary
	& ul > li > ul > li {
		list-style-type: $mb-lists-ul-list-style-type--tertiary;
	}

	// Secondary ol's
	& ol > li {
		text-indent: -2rem; // [2]
		padding-left: 5.25rem;
	}
}

// Ordered lists
// 1. We use "& > li" as "li" would also add the counter to child UL items
// 2. Child lists need an increased text-indent and padding as their prefix 
//    for each item is longer, e.g "3.5" or "3.5.2" instead of "3"
%list-ol {
	counter-reset: item;
	list-style-type: none;
	padding: 0 0 $mb-lists-item-padding-bottom 0;
	margin: 0;

	li {
		@extend %list-li;
	}

	& > li { // [1]
		padding-left: 3.5rem;
		text-indent: -2.1rem;

		&::before {
			content: counters(item, $mb-lists-ordered-separator) $mb-lists-ordered-separator;
			counter-increment: item;
			padding-right: 0.7rem;
		}
	}

	// Secondary ol's
	& ol > li {
		text-indent: -3.6rem; // [2]
		padding-left: 5.25rem;
	}

	// Tertiary ol's
	& ol > li > ol > li {
		text-indent: -5rem; // [2]
		padding-left: 5.25rem;
	}
}

%list--unstyled {
	padding-left: 0;
	list-style: none;
}

%list--inline {
	@extend %list--unstyled;

	// Use flex instead of inline-block to get rid of 4px margin bug
	@include row(left, middle, mobile, wrap);
}

%list--inline--tight {
	@extend %list--inline;
	@extend %row--tight;
}

%list--inline--loose {
	@extend %list--inline;
	@extend %row--loose;
}

%list--block {
	> li {
		display: block;
	}
}
