
/**
 *
 * TYPOGRAPHY
 *
 * Handles all typography for entire site
 *
 * Tested to work on (windows/mac):
 *	Chrome xx.xx+
 *	Safari xx.xx+
 *	Firefox xx.xx+
 *	IE xx.xx+
 *	Edge xx.xx+
 *	Android xx.xx+
 *	iOS xx.xx+
 */



//// VARIABLES
//// -------------------------------------------

// Fonts
$_mb-typography__font-primary  : $mb-global__font-primary !default;
$_mb-typography__font-secondary: $mb-global__font-secondary !default;

// Body text
$_mb-typography__body-font-family: $_mb-typography__font-primary !default;
$_mb-typography__body-font-size  : $mb-global__default-font-size !default;
$_mb-typography__body-line-height: $mb-global__default-line-height !default;
$_mb-typography__body-color      : $mb-typography__default-color !default;

$_mb-typography__body-responsive: $mb-typography__body-responsive;

$_mb-typography__p-margin         : 1rem 0 !default;

$_mb-typography__p--lead-font-size: $mb-typography__p-lead-font-size !default;
$_mb-typography__p--lead-color    : $mb-typography__default-color !default;

// Strong
$_mb-typography__strong: $mb-global__font-weight-bold !default;

// a links
$_mb-typography__link-color            : $mb-typography__link-color;
$_mb-typography__link-color--hover     : $mb-typography__link-color-hover;
$_mb-typography__link-color--active    : $mb-typography__link-color-active;
$_mb-typography__link-font-weight      : $mb-typography__link-font-weight;
$_mb-typography__link-decoration       : $mb-typography__link-decoration;
$_mb-typography__link-decoration--hover: $mb-typography__link-decoration--hover;
$_mb-typography__link-transition       : $mb-typography__link-transition;

//// Headings ////
$_mb-typography__heading-font-family: $mb-typography__heading-font-family;
$_mb-typography__heading-font-weight: $mb-typography__heading-font-weight;
$_mb-typography__heading-line-height: $mb-typography__heading-line-height;
$_mb-typography__heading-color      : $mb-typography__heading-color;
$_mb-typography__heading-margin     : $mb-typography__heading-margin;

//// h1 ////
$_mb-typography__h1-font-family: $_mb-typography__heading-font-family !default;
$_mb-typography__h1-font-size  : $mb-typography__h1-font-size;
$_mb-typography__h1-font-weight: $_mb-typography__heading-font-weight !default;
$_mb-typography__h1-margin     : $mb-typography__heading-margin !default;
$_mb-typography__h1-color      : $mb-typography__heading-color !default;

//// h2 ////
$_mb-typography__h2-font-family: $_mb-typography__heading-font-family !default;
$_mb-typography__h2-font-size  : $mb-typography__h2-font-size;
$_mb-typography__h2-font-weight: $_mb-typography__heading-font-weight !default;
$_mb-typography__h2-margin     : $mb-typography__heading-margin !default;
$_mb-typography__h2-color      : $mb-typography__heading-color !default;

//// h3 ////
$_mb-typography__h3-font-family: $_mb-typography__heading-font-family !default;
$_mb-typography__h3-font-size  : $mb-typography__h3-font-size;
$_mb-typography__h3-font-weight: $_mb-typography__heading-font-weight !default;
$_mb-typography__h3-margin     : $mb-typography__heading-margin !default;
$_mb-typography__h3-color      : $mb-typography__heading-color !default;

//// h4 ////
$_mb-typography__h4-font-family: $_mb-typography__heading-font-family !default;
$_mb-typography__h4-font-size  : $mb-typography__h4-font-size;
$_mb-typography__h4-font-weight: $_mb-typography__heading-font-weight !default;
$_mb-typography__h4-margin     : $mb-typography__heading-margin !default;
$_mb-typography__h4-color      : $mb-typography__heading-color !default;

//// h5 ////
$_mb-typography__h5-font-family: $_mb-typography__heading-font-family !default;
$_mb-typography__h5-font-size  : $mb-typography__h5-font-size;
$_mb-typography__h5-font-weight: $_mb-typography__heading-font-weight !default;
$_mb-typography__h5-margin     : $mb-typography__heading-margin !default;
$_mb-typography__h5-color      : $mb-typography__heading-color !default;

//// h6 ////
$_mb-typography__h6-font-family: $_mb-typography__heading-font-family !default;
$_mb-typography__h6-font-size  : $mb-typography__h6-font-size;
$_mb-typography__h6-font-weight: $_mb-typography__heading-font-weight !default;
$_mb-typography__h6-margin     : $mb-typography__heading-margin !default;
$_mb-typography__h6-color      : $mb-typography__heading-color !default;

//// blockquote ////
$_mb-typography__blockquote-margin: $mb-typography__blockquote-margin;

// Selection colour
$_mb-typography__selection-bg-color: $mb-typography__selection-bg-color;
$_mb-typography__selection-color   : $mb-typography__selection-color;



//// DEFINITIONS
//// Add/remove as needed per project
//// -------------------------------------------

body {
	font-family: $_mb-typography__body-font-family;
	font-size  : $_mb-typography__body-font-size;
	line-height: $_mb-typography__body-line-height;
	color      : $_mb-typography__body-color;

	@include mq-props($_mb-typography__body-responsive);
}

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }

p {
	margin: $_mb-typography__p-margin;

	&.lead {
		font-size: $_mb-typography__p--lead-font-size;
	}
}

strong {
	font-weight: $_mb-typography__strong;
}

a {
	font-weight: $_mb-typography__link-font-weight;
	text-decoration: $_mb-typography__link-decoration;
	transition: $_mb-typography__link-transition;

	@include link-colors($_mb-typography__link-color, $_mb-typography__link-color--hover, $_mb-typography__link-color--active);
	&:hover, &:focus {
		@include if-changed('text-decoration', $_mb-typography__link-decoration, $_mb-typography__link-decoration--hover);
	}
}

blockquote { @extend %blockquote; }

@if $_mb-typography__selection-bg-color != false {
	// Firefox
	::-moz-selection {
		background-color: $_mb-typography__selection-bg-color;
		color: $_mb-typography__selection-color;
	}

	// Other supported browsers
	::selection {
		background-color: $_mb-typography__selection-bg-color;
		color: $_mb-typography__selection-color;
	}
}



//// SILENT CLASSES
//// -------------------------------------------

// All headings
%h1, %h2, %h3, %h4, %h5, %h6 {
	margin: $_mb-typography__heading-margin;
	font-family: $_mb-typography__heading-font-family;
	line-height: $_mb-typography__heading-line-height;
	color: $_mb-typography__heading-color;

	&:first-child { margin-top   : 0; }
	&:last-child  { margin-bottom: 0; }
}

// Heading 1
%h1 {
	font-size  : $_mb-typography__h1-font-size;
	font-weight: $_mb-typography__h1-font-weight;

	@include if-changed('margin', $_mb-typography__heading-margin, $_mb-typography__h1-margin);
	@include if-changed('font-family', $_mb-typography__heading-font-family, $_mb-typography__h1-font-family);
	@include if-changed('color', $_mb-typography__heading-color, $_mb-typography__h1-color);
}

// Heading 2
%h2 {
	font-size  : $_mb-typography__h2-font-size;
	font-weight: $_mb-typography__h2-font-weight;

	@include if-changed('margin', $_mb-typography__heading-margin, $_mb-typography__h2-margin);
	@include if-changed('font-family', $_mb-typography__heading-font-family, $_mb-typography__h2-font-family);
	@include if-changed('color', $_mb-typography__heading-color, $_mb-typography__h2-color);
}

// Heading 3
%h3 {
	font-size  : $_mb-typography__h3-font-size;
	font-weight: $_mb-typography__h3-font-weight;

	@include if-changed('margin', $_mb-typography__heading-margin, $_mb-typography__h3-margin);
	@include if-changed('font-family', $_mb-typography__heading-font-family, $_mb-typography__h3-font-family);
	@include if-changed('color', $_mb-typography__heading-color, $_mb-typography__h3-color);
}

%h4 {
	font-size  : $_mb-typography__h4-font-size;
	font-weight: $_mb-typography__h4-font-weight;

	@include if-changed('margin', $_mb-typography__heading-margin, $_mb-typography__h4-margin);
	@include if-changed('font-family', $_mb-typography__heading-font-family, $_mb-typography__h4-font-family);
	@include if-changed('color', $_mb-typography__heading-color, $_mb-typography__h4-color);
}

// Heading 5
%h5 {
	font-size  : $_mb-typography__h5-font-size;
	font-weight: $_mb-typography__h5-font-weight;

	@include if-changed('margin', $_mb-typography__heading-margin, $_mb-typography__h5-margin);
	@include if-changed('font-family', $_mb-typography__heading-font-family, $_mb-typography__h5-font-family);
	@include if-changed('color', $_mb-typography__heading-color, $_mb-typography__h5-color);
}

// Heading 6
%h6 {
	font-size  : $_mb-typography__h6-font-size;
	font-weight: $_mb-typography__h6-font-weight;

	@include if-changed('margin', $_mb-typography__heading-margin, $_mb-typography__h6-margin);
	@include if-changed('font-family', $_mb-typography__heading-font-family, $_mb-typography__h6-font-family);
	@include if-changed('color', $_mb-typography__heading-color, $_mb-typography__h6-color);
}

// Blockquote
%blockquote {
	margin: $_mb-typography__blockquote-margin;
}

// Links

// Unstyled link - no color, decoration, border, including on focus etc
%link--unstyled {
	&, &:hover, &:focus, &:active, &.active, &:visited {
		text-decoration: inherit;
		border: inherit;
		color: inherit;
	}
}

// Block link - like display: block; but without the 100% width
%link--block {
	display: table;
	%text--centered & {
		margin: 0 auto;
	}
}


// Text styles

%text--centered {
	text-align: center;
}