
/**
 *
 * TABLES
 *
 * Tested to work on (windows/mac):
 *	Chrome xx.xx+
 *	Safari xx.xx+
 *	Firefox xx.xx+
 *	IE xx.xx+
 *	Android xx.xx+
 *	iOS xx.xx+
 */



//// VARIABLES
//// -------------------------------------------
// Variables which are just straight mappings should not be overrideable here
// (i.e., no !default on the end). Variables which reference $mb-global-* or
// are modifying other variables (e.g., mix(...)) should have !default on the
// end so they can be individually overridden if need be

// Box model
$_mb-tables__width           : $mb-tables__width;
$_mb-tables__margin          : $mb-tables__margin;
$_mb-tables__cell-padding    : $mb-tables__cell-padding;
$_mb-tables__tbody-text-align: $mb-tables__tbody-text-align;
$_mb-tables__border-bottom   : $mb-tables__border-bottom;

//// Table Headers ////
$_mb-tables__thead-font-weight  : $mb-tables__thead-font-weight;
$_mb-tables__thead-text-align   : $mb-tables__thead-text-align;
$_mb-tables__thead-border-bottom: $mb-tables__thead-border-bottom;

//// Simple Table ////
$_mb-tables__table--simple-border-bottom: $mb-tables__table--simple-border-bottom;

//// Heavy Table ////
$_mb-tables__table--heavy-head-bg-color: $mb-tables__table--heavy-head-bg-color;
$_mb-tables__table--heavy-head-color   : $mb-tables__table--heavy-head-color;
$_mb-tables__table--heavy-row-bg-color : $mb-tables__table--heavy-row-bg-color;



//// DEFINITIONS
//// Add/remove as needed per project
//// -------------------------------------------

.table {
	@extend %table;

	&.table--simple { @extend %table--simple; }

	&.table--heavy { @extend %table--heavy; }
}

// Wrap tables or pre elements in a div with this class
// <div class="overflow-container">
//		<table class="table"></table>
// </div>
.table-overflow-container {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}



//// SILENT CLASSES
//// -------------------------------------------

%table {
	width: $_mb-tables__width;
	max-width: 100%;
	margin: $_mb-tables__margin;

	th {
		text-align: $_mb-tables__thead-text-align;
	}

	td {
		text-align: $_mb-tables__tbody-text-align;
	}
}

%table--simple {

	// Table head cells
	th {
		vertical-align: bottom;
		font-weight: $_mb-tables__thead-font-weight;
		border-bottom: $_mb-tables__table--simple-border-bottom;
	}

	// All cells
	th, td {
		padding: $_mb-tables__cell-padding;
		border-bottom: $_mb-tables__border-bottom;
	}
}

%table--heavy {
	@extend %table--simple;

	th {
		background-color: $_mb-tables__table--heavy-head-bg-color;
		color: $_mb-tables__table--heavy-head-color;
	}

	tr:hover {
		background-color: $_mb-tables__table--heavy-row-bg-color;
	}
}
