
/**
 *
 * Styleguide - Navigation
 *
 *
 */

.sg-nav {
	@include mq($until: $sg-layout-bp-change) {
		position: relative;
		visibility: hidden;
		z-index: 1;
		max-height: 0;
		transition: none;
	}

	@include mq($from: $sg-layout-bp-change) {
		padding-bottom: 60px;
	}

	.menu-nav--active & {
		display: block;
		visibility: visible;
		max-height: 999px;
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid rgba($sg-color__text-main, 0.2);
	}
}

.sg-nav__heading {
	padding: 8px map-get($sg-sidebar-padding, 's');
	color: lighten($sg-color__text-main, 18%);
	font-size: 14px;
	text-transform: uppercase;

	@include mq($from: $sg-layout-bp-change) {
		padding: 8px map-get($sg-sidebar-padding, 'm');
	}
}

.sg-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;

	&:not(:last-of-type) {
		margin-bottom: 2rem;
	}

	li {
		padding: 0;
		text-indent: 0;
	}
}

// <li><a> element
.sg-nav__list-link {
	display: block;
	padding: 8px map-get($sg-sidebar-padding, 's');
	text-decoration: none;
	color: $sg-color__text-main;
	font-size: 18px;
	font-weight: normal;
	transition: color .2s,
				background-color .2s;

	@include mq($from: $sg-layout-bp-change) {
		padding: 8px map-get($sg-sidebar-padding, 'm');
	}

	&.active {
		background-color: $sg-color__text-main;
		color: white;

		&:hover,
		&:focus {
			background-color: $sg-color__text-main;
			color: white;
		}
	}

	&:hover,
	&:focus {
		background-color: white;
		color: $sg-color__highlight;
		text-decoration: none;
	}
}


// Hamburger Menu icon
.sg-menu-toggle {
	position: absolute;
	top: calc(#{$sg-header-padding-s} + 10px);
	right: map-get($sg-content-padding, 's');
	width:  $sg-menu-icon-width;
	height: $sg-menu-icon-bar-height * 6;
	transform: rotate(0deg);
	cursor: pointer;
	transition: all ease-in-out .5s;

	@include mq($from: $sg-layout-bp-change) {
		display: none;
	}

	span {
		display: block;
		position: absolute;
		left: 0;
		height: $sg-menu-icon-bar-height;
		width: 100%;
		background-color: $sg-menu-icon-color;
		border-radius: $sg-menu-icon-bar-height;
		opacity: 1;
		transform: rotate(0deg);
		transition: all ease-in-out .25s;

		&:nth-child(1) { top: 0; }
		&:nth-child(2),
		&:nth-child(3) { top: $sg-menu-icon-bar-height * 2; }
		&:nth-child(4) { top: $sg-menu-icon-bar-height * 4; }

		.menu-nav--active & {
			&:nth-child(1) {
				top: $sg-menu-icon-bar-height * 3;
				width: 0;
				left: 50%;
			}

			&:nth-child(2) { transform: rotate(45deg); }
			&:nth-child(3) { transform: rotate(-45deg); }

			&:nth-child(4) {
				top: $sg-menu-icon-bar-height * 2;
				width: 0;
				left: 50%;
			}
		}
	}
}