
/**
 *
 * ICONS
 *
 * Component to create SVG icons.
 *
 * Usage:
 * <svg class="icon  icon-compass">
 * 		<use xlink:href="#icon-compass"></use>
 * </svg>
 *
 * @resources
 * http://css-tricks.com/svg-sprites-use-better-icon-fonts/
 * http://css-tricks.com/svg-symbol-good-choice-icons/
 */



//// VARIABLES
//// -------------------------------------------
// Variables which are just straight mappings should not be overrideable here
// (i.e., no !default on the end). Variables which reference $mb-global-* or
// are modifying other variables (e.g., mix(...)) should have !default on the
// end so they can be individually overridden if need be

$icon__width: 2rem;
$icon__height: 2rem;



//// DEFINITIONS
//// -------------------------------------------

// SVG sprite. We never want to show this.
.icons-svg {
	display: none;
}

.icon {
	display: inline-block;
	width: $icon__width;
	height: $icon__height;
	fill: currentColor;
	// Should we v align by default?
	vertical-align: middle;
}



//// SILENT CLASSES
//// -------------------------------------------
