
// Main Nav
.nav {
    background-color: $color__tundora;
    box-shadow: $mb-global__box-shadow;

    .wrapper {
        position: relative;
        padding: 0;
    }

    a {
        position: relative;
        display: inline-block;
        padding: 2rem;
        color: $color__dusty-grey;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            background-color: black;
            color: white;
        }

        &.active {
            color: white;

            &.sub:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: calc(50% - 1rem);
                border-style: solid;
                border-width: 0 1rem 1rem 1rem;
                border-color: transparent transparent $color__primary transparent;
            }
        }

        .dashboard & {
            color: white;
        }
    }

    &.season {
        background-color: $color__dusty-grey;

        a {
            color: $color__tundora;

            &:hover, &.active {
                color: white;
            }
        }
    }

    .nav-title {
        margin-left: 2.3rem;
        cursor: default;
    }

    .nav-toggle {
        position:absolute;
        left:-3rem;
        width:3rem;
        height:3rem;
        cursor:pointer;
        text-align: center;

        &.show-season-nav {
            bottom:0;
            color: $color__tundora;
            background-color: $color__dusty-grey;
        }
        &.show-rego-nav {
            top:0;
            color: $color__dusty-grey;
            background-color: $color__tundora;
        }
    }
}

// Sub nav
.sub-nav {
    background-color: $color__primary;
    box-shadow: $mb-global__box-shadow;

    h3 {
        display: inline-block;
        font-family: $mb-global__font-primary;
        color: white;
        font-size: 1.8rem;
        margin:0;
        padding: 1.5rem 2rem 1.5rem 0;
        word-wrap: break-word;
        word-break: break-all;
    }

    a {
        color: white;
        text-decoration: underline;
        font-size: 1.3rem;

        &:hover {
            color: $color__scorpion;
        }
    }
}
