
/**
 *
 * MESSAGE
 *
 * Status/error/warning messages
 *
 * Tested to work on (windows/mac):
 *	Chrome xx.xx+
 *	Safari xx.xx+
 *	Firefox xx.xx+
 *	IE xx.xx+
 *	Android xx.xx+
 *	iOS xx.xx+
 */



//// VARIABLES
//// -------------------------------------------
// - Name concisely, with full name unless abbreviation is obvious
// 		e.g. ok to use -bg- for -background-
// - Variables in this file should follow this format:
// 		- $_mb-message__[component-type]-css-property OR other
//      - This goes in order from generic -> specific
// - Variables inside a component file should be pre-fixed with $_mb-
//		e.g. $_mb-button__padding

// Defaults
$_mb-message__color           : $mb-message__color;
$_mb-message__font-weight     : $mb-message__font-weight;
$_mb-message__success-bg-color: $mb-message__success-bg-color;
$_mb-message__error-bg-color  : $mb-message__error-bg-color;
$_mb-message__warning-bg-color: $mb-message__warning-bg-color;
$_mb-message__info-bg-color   : $mb-message__info-bg-color;

// Box model
$_mb-message__padding: $mb-message__padding;
$_mb-message__margin : $mb-message__margin;

// Other
$_mb-message__transition: $mb-message__transition;



//// DEFINITIONS
//// Add/remove as needed per project
//// -------------------------------------------

@include static-modifiers(message, (success error warning info));
// 'success' might also be called 'status' (Drupal)
.message--status   { @extend %message--success; }



//// SILENT CLASSES
//// -------------------------------------------

%message {

	color: $_mb-message__color;
	font-weight: $_mb-message__font-weight;
	margin: $_mb-message__margin;
	padding: $_mb-message__padding;

	a {
		@include link-colors($_mb-message__color);
	}

	// Other
	transition: $_mb-message__transition;

	// Modifiers
}

%message--success {
	background-color: $_mb-message__success-bg-color;
}

%message--error {
	background-color: $_mb-message__error-bg-color;
}

%message--warning {
	background-color: $_mb-message__warning-bg-color;
}

%message--info {
	background-color: $_mb-message__info-bg-color;
}
