
// Layout
body {
    height: 100%;
    background-color: $color__mercury;

    &.modal-body {
        background-color: white;
    }

    .inner-body {
        position: relative;
        min-height: 100%;
    }
}

.wrapper {
    width: $site-width;
    margin: 0 auto;
    padding: 0 2rem;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.side-wrapper {
    float: left;
    width: $side-col-width;
    margin-top: 5rem;
    padding-bottom: 6.5rem;
}

.main-wrapper {
    float: left;
    width: 100%;
    margin-top: 4.4rem;
    margin-bottom: 6rem;
    padding-bottom: 6.5rem;
    color: black;
    font-size: 1.6rem;

    body.columned & {
        width: $main-col-width;
        margin-left: $main-col-left;
    }

    h1 {
        margin-bottom: 4.5rem;
        color: black;
        font-weight: normal;

        span.right {
            float: right;
            font-family: $mb-global__font-primary;
            font-size: 1.3rem;
            color: $color__primary;
        }
    }

    h3, h4 {
        color: black;
        margin-bottom: 2.2rem;
        font-weight: normal;

        span.right {
            float: right;
            font-family: $mb-global__font-primary;
            font-size: 1.3rem;
            color: $color__scorpion;
        }
    }

    h4 {
        margin-bottom: 1rem;
        max-width: 35.5rem;
        font-size: 1.6rem;
        font-weight: normal;

        &.full {
            max-width: 100%;
        }

        span.sub-heading {
            font-size: 1.5rem;
            color: $color__dusty-grey;
            font-family: $mb-global__font-primary;
        }
        span.right {
            color: $color__alto;
        }
    }

    p {
        font-size: 1.6rem;
    }

    .btn, .form__button, button, button[type="submit"], input[type="button"], input[type="submit"] {
        font-size: 1.6rem;
    }

    .break-me {
        word-wrap: break-word;
    }
    .space-out {
        margin-bottom: 5rem;
    }
}

.break-title {
    word-wrap: break-word;
}

.modal-wrapper {
    //
}

// Header
.header {
    height: 11.4rem;
    background-color: white;

    .home {
        float: left;

        .logo {
            display: block;
            width: 18rem;
            margin-top: 1rem;
        }
    }

    .title {
        float: left;
        font-size: 2.4rem;
        color: $color__primary;
        margin-top: 4.2rem;
        margin-left: 4.5rem;
        font-weight: normal;
    }

    .user {
        float: right;
        text-align: right;
        font-size: 1.4rem;
        margin-top: 4.7rem;

        span {
            position: relative;
            display: inline-block;
            top: 0.5rem;
            max-width: 40rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a {
            margin-left: 2.5rem;
            color: $color__scorpion;
            text-decoration: underline;

            &:hover {
                color: $color__primary;
            }
        }
    }
}

// Footer
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $color__tundora;
    color: white;

    .footer-inner {
        padding: 2rem 0;
    }
}

// Alerts
.alert {
    margin-top: 0.7rem;
}

// Page
.page {
    display: flex;
    align-items: stretch;

    .page__half {
        width: 48%;
        margin-left: 4%;

        .panel {
            height: 100%;
        }
    }
    .page__half:first-child {
        margin-left: 0;
    }
}

// Panels
.panel {
    width: 100%;
    background-color: white;
    border-radius: $mb-global__border-radius;
    box-shadow: $mb-global__box-shadow;
    border: 1px solid $color__alto;

    .panel__inner {
        position: relative;
        padding: 2.7rem 3rem 0 3rem;

        &-flush {
            background-color: $color__concrete;
            padding: 0;
        }
    }

    .panel__row {
        margin-bottom: 3rem;

        &.panel__row--tight {
            margin-bottom: 1rem;
        }

        .panel__full {
            position: relative;
            width: 100%;
            clear: both;
        }

        .panel__left {
            float: left;
            width: 49%;
        }

        .panel__right {
            float: right;
            width: 47%;
        }

        .panel__inset {
            background-color: $color__concrete;
            border-radius: $mb-global__border-radius;
            box-shadow: $mb-global__box-shadow;
            border: 1px solid $color__alto;

            .panel__row {
                margin: 0;
                padding: 2rem 2.4rem;
                border-bottom: 1px solid $color__silver;
            }
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .panel__delete {
        position: absolute;
        top: 2rem;
        right: 3rem;
    }

    .panel__indent {
        margin-left: 2.4rem;
    }
    .panel__indent--inner {
        padding-left: 4.5rem;
    }

    &.panel--gap {
        margin-top: 4rem;
    }

    #cboxWrapper & {
        box-shadow: none;
        border: none;
    }
}
.panel__half {
    width: 50%;
}

// Panel table
table.inner-table {
    display: block;
    position: relative;
    width: calc(100% - 6rem);
    margin: 0 3rem;
    padding: 2rem 0 3rem 0;

    tbody {
        background-color: white;
        border-radius: $mb-global__border-radius;
        box-shadow: $mb-global__box-shadow;
        border: 1px solid $color__alto;
    }

    tr {
        border-top: 1px solid $color__alto;
    }
    tr:first-child {
        border: none;
    }

    th, td {
        border: none;
    }

    th {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .form__label-check {
        padding: 0 1.3rem 0 2.7rem;

        .checkbox {
            margin: 0;
        }
    }

    .icon-button {
        .icon-span {
            left: 0;
        }
    }
}

// Tabs
.tabrow {
    list-style: none;
    margin: 0;
    padding: 0 3rem;
    line-height: 2.4rem;
    position: relative;

    &:after {
        position: absolute;
        content: "";
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid $color__mercury;
        z-index: 1;
    }

    li {
        position: relative;
        padding: 1.5rem 3rem;
        margin-top: 3rem;
        display: inline-block;
        font-family: $mb-global__font-secondary;
        z-index: 0;
        cursor: pointer;
        border-top-left-radius: $mb-global__border-radius;
        border-top-right-radius: $mb-global__border-radius;

        &.active {
            background: #FFF;
            color: #000;
            border: 1px solid $color__mercury;
            border-bottom-color: #FFF;
            z-index: 2;
        }

        &:hover {
            color: $color__primary;
        }
    }
}

// Help
.help {
    position: relative;
    width: 100%;

    .help__text {
        width: 100%;
        padding-left: 2.4rem;
        font-size: 1.2rem;
        color: $color__scorpion;

        p {
            font-size: 1.2rem;
            margin-top: 0;
            line-height: 1.2;
            margin-top: 1rem;
            margin-bottom: 0;

            &:first-child {
                margin-top: 0;
            }
        }

        a {
            text-decoration: underline;
        }

        ul {
            padding-left: 1.3rem;
        }

        &.help__full {
            display: none;

            &.open {
                display: block;
            }
        }
    }

    .help__more {
        position: relative;
        margin-left: 1.6rem;
        font-family: $mb-global__font-secondary;
        color: black;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        .icon {
            position: absolute;
            width: 1.2rem;
            height: 1.2rem;
            top: 0.2rem;
            left: -1.4rem;
        }
    }
}
.help__icon {
    position: absolute;
    top: 0.3rem;
    left: 0.2rem;
    width: 1rem;
    height: 1rem;
    background-color: $color__havelock-blue;
    border-radius: $mb-global__border-radius;

    .icon {
        position: absolute;
        top: 0.05rem;
        left: 0.05rem;
        width: 0.9rem;
        height: 0.9rem;
        color: white;
    }

    &.inline {
        position: relative;
        display: inline-block;
        top: -0.1rem;
        margin-left: 0.2rem;
        margin-right: 0.5rem;
    }
}

// Extra Buttons
button[type="submit"].icon-button {
    position: relative;
    padding-left: 4.5rem;

    .icon-span {
        position: absolute;
        top: 0.9rem;
        left: 2rem;
    }
}
button[type="submit"].btn--tertiary {
    background-color: $color__havelock-blue;
    color: white;

    &:hover {
        background-color: $color__havelock-blue;
    }
}
.icon-link {
    position: relative;
    padding-right: 1.8rem;

    &:hover {
        color: $color__primary;
    }

    .icon {
        position: absolute;
        top: 0.4rem;
        right: 0;
        width: 1.6rem;
        height: 1.6rem;
    }
}
.right-link {
    float: right;
    font-family: $mb-global__font-secondary;
    font-size: 1.6rem;
    margin-top: 1.2rem;
}

// Confirm Dialog
#confirm_content {
    padding: 2rem 2.4rem 0 2.4rem;
}

// Tables
table.dataTable {
    thead tr th {
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0.8rem 0;
        background-color: $color__concrete;
        color: $color__scorpion;
        padding-left: 2rem;
    }

    tbody tr td {
        padding-left: 2rem;

        a {
            //
        }
    }

    .dt_center {
        text-align: center;
    }
}
div.dataTables_wrapper {
    background-color: $color__concrete;

    div.dataTables_filter {
        padding: 2.4rem 2.2rem 1rem 2.2rem;

        input[type='search'] {
            width: 22.2rem;
            font-size: 1.6rem;
            color: black;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
        }
    }

    div.dataTables_length {
        padding: 2.2rem 2rem 1rem 2rem;
    }

    div.dataTables_info {
        padding-top: 2.4rem;
        padding-left: 2.4rem;
    }

    div.dataTables_paginate {
        padding: 1rem 2.2rem 1rem 2.2rem;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        background-color: $color__primary;
        border-color: $color__primary;
    }

    .pagination > li > a, .pagination > li > span {
        color: $color__primary;
    }

    .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
        color: white;
    }

    .icon-check-circle-o {
        color: $color__pants-green;
    }
    .icon-cross {
        color: $color__face-orange;
    }
}

// Modals
.colorbox-inline {
    display: none;
}
#cboxClose {
    transition: none !important;
}

// Messages
.message {
    border-radius: $mb-global__border-radius;

    ul {
        margin: 0;
    }
}
.message--form {
    position: relative;
    background-color: lighten($color__error, 33);
    border: 1px solid $color__error;
    color: black;

    .icon {
        position: absolute;
        top: 2.1rem;
        left: 2rem;
        width: 2.4rem;
        height: 2.4rem;
        color: $color__error;
    }

    div {
        margin: 1rem 0 1rem 6rem;

        ul {
            padding-left: 1.7rem;
        }
    }
}

// Denied warning
.denied {
    background-color: $color__error;
    padding: 0.5rem;
    text-align: center;
    color: white;
}
