
// Dropzone
#media_dropzone {
    border: 2px dashed $color__dusty-grey;
    border-radius: $mb-global__border-radius;
    background-color: $color__concrete;
    margin-bottom: 3rem;

    input[type="file"] {
        display: none;
    }

    .dz-default {

        span {
            color: $color__primary;
            font-family: $mb-global__font-secondary;
        }

        .icon-plus {
            width: 8rem;
            height: 8rem;
            color: $color__dusty-grey;
            margin-right: 3rem;
        }
    }
    &:hover .dz-default {
        span {
            color: $color__dusty-grey;
        }
        .icon-plus {
            color: $color__primary;
        }
    }

    .dz-image-preview {
        cursor: pointer;

        * {
            cursor: pointer;
        }
    }
}
.dropzone__outer {
    .help {
        margin-bottom: 3rem;
    }
}

// Listing
.panel__inner-flush.panel__media-listing {
    background-color: white;
    border-radius: $mb-global__border-radius;
    box-shadow: $mb-global__box-shadow;
    border: 1px solid $color__mercury;
    overflow: hidden;
}
.media-listing {
    width: 100%;
    padding: 2.4rem 3rem;

    .media-listing__empty {
        display: none;
    }
    .media-listing__list {
        display: none;
    }

    .media-listing__warning {
        background-color: $color__warning;
        color: white;
        font-size: 1.4rem;
        padding: 1.4rem 2rem;
        border-radius: $mb-global__border-radius;
        box-shadow: $mb-global__box-shadow;
        border: 1px solid $color__mercury;
        margin-bottom: 3rem;
    }

    .media-listing__crops {
        background-color: white;
        width: 100%;
        border-radius: $mb-global__border-radius;
        box-shadow: $mb-global__box-shadow;
        border: 1px solid $color__alto;
        margin-bottom: 3rem;
        display: flex;

        .media-listing__crop {
            width: 33.33%;
            padding: 1.5rem;
            border-left: 1px solid $color__alto;

            &:first-child {
                border: none;
            }

            h4 {
                font-size: 1.4rem;
            }

            p {
                font-size: 1.4rem;
            }

            .image {
                font-size: 1.4rem;
                color: $color__dusty-grey;
            }
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .media-item {
        position: relative;
        width: 100%;
        padding: 2rem;
        display: block;
        border-bottom: 1px solid $color__concrete;
        font-size: 14px;
        clear: both;

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        .media-item--image, .media-item--audio, .media-item--video {
            float: left;
            width: 13rem;
            height: 15rem;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
        .media-item--audio a {
            position: relative;
            display: block;
            width: 13rem;
            height: 10rem;
            background-color: $color__silver;

            .icon {
                position: absolute;
                width: 6rem;
                height: 6rem;
                top: calc(50% - 3rem);
                left: calc(50% - 3rem);
            }
        }
        .media-item--video a {
            position: relative;
            display: block;
            min-height: 8rem;

            .icon {
                position: absolute;
                width: 6rem;
                height: 6rem;
                top: calc(50% - 3rem);
                left: calc(50% - 3rem);
            }
        }

        .media-item--info {
            float: left;
            width: calc(100% - 15rem);
            margin-left: 2rem;
        }
        .media-item--text {
            float: left;
            width: 24.8rem;
        }
        .media-item--checks {
            float: left;
            width: 20rem;
            margin-left: 2.6rem;

            .form__label-check {
                padding-top: 0;
                padding-bottom: 0.4rem;
                font-weight: 400;
            }
            .form-checkbox {
                position: absolute;
            }
            .checkbox {
                margin-top: 0;
            }
        }
        .media-item--buttons {
            clear: both;

            span {
                font-weight: 700;
            }
            .btn {
                padding: 0.6rem 1.4rem;
                margin-left: 2rem;
            }
        }

        .media-item--handle {
            position: absolute;
            background-color: white;
            color: $color__primary;
            width: 3rem;
            height: 3rem;box-shadow: $mb-global__box-shadow;
            border: 1px solid $color__mercury;
            border-radius: 1.5rem;
            top: 7.5rem;
            left: 0.4rem;
            cursor: ns-resize;
            z-index: 2;

            .icon {
                position: relative;
                top: 0.25rem;
                left: 0.5rem;
            }
        }

        .media-item--delete {
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
            width: 2.7rem;
            height: 2.7rem;
            border: 1px solid $color__scorpion;
            border-radius: 1.35rem;

            .icon {
                position: relative;
                top: 0;
                left: 0.3rem;
                color: $color__scorpion;
            }
        }
        .media-item--delete:hover {
            border-color: $color__primary;

            .icon {
                color: $color__primary;
            }
        }
    }

    h4 {
        max-width: 100%;

        .smidge-info {
            display: inline-block;
            font-family: $mb-global__font-primary;
            margin-left: 6rem;
        }
    }
}

// Cropper
.cropper {
    width: 1000px;

    .cropper__initial {
        float: left;
        width: calc(100% - 44rem);
        margin-right: 4rem;
    }

    .cropper__preview {
        float: left;
        width: 40rem;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.cropper.participant {
    width: 70rem;

    .cropper__initial {
        width: calc(100% - 31.2rem);
        margin-right: 4rem;
    }

    .cropper__preview {
        width: 27.2rem;
    }
}
