
.carousel.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .carousel-item {
        position: relative;
        margin: 3px 3px 3px 0;
        padding: 1px;
        float: left;
        width: 15rem;
        height: 9rem;
        font-size: 1.4em;
        text-align: center;
        background-color: $color__silver;
        overflow: hidden;
        background-size: cover;
        color: white;
        text-shadow: 1px 1px #000000;

        .carousel-delete {
            position: absolute;
            bottom: 0.3rem;
            left: calc(50% - 0.75rem);
            background-color: $color__crimson;
            color: white;
            padding: 0.3rem;
            border-radius: 0.2rem;
            cursor: pointer;

            &:hover {
                color: black;
            }

            .icon {
                display: block;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }



}
