
.sort-list {
    .icon-check-circle-o {
        color: $color__pants-green;
    }
    .icon-cross {
        color: $color__face-orange;
    }
    .icon-arrows-v:hover {
        cursor: ns-resize;
    }

    &.tiles-list {
        .col-1 { width:5%; }
        .col-2 { width:44%; }
        .col-3 { width:20%; }
        .col-4 { width:15%; text-align:center; }
        .col-5 { width:16%; }
    }
    &.curated-list {
        .col-1 { width:5%; }
        .col-2 { width:34%; }
        .col-3 { width:45%; }
        .col-4 { width:16%; }
    }
    &.dd-list {
        .col-1 { width:5%; }
        .col-2 { width:7%; }
        .col-3 { width:57%; }
        .col-4 { width:15%; text-align:center; }
        .col-5 { width:16%; }

        .dd-image {
            width: 5rem;
            height: auto;
        }
    }
}

// Menu Builder Tree
#tree {

    .jqtree-element {
        background: $color__silver;
        border: 1px solid $color__silver;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        &:hover {
            background: $color__mercury;
        }

        .jqtree-toggler {
            padding-left: 0.8rem;
        }

        .jqtree-title {
            margin-left: 1rem;
        }
    }

    .jqtree-moving .jqtree-element {
        background: $color__mercury;

        .jqtree-title {
            outline: none;
        }
    }

    .jqtree-ghost {
        position: relative;
        top: -0.25rem;

        span {
            background: $color__primary;
            border-color: $color__primary;
        }
    }
    .jqtree-border {
        border-color: $color__primary;
    }

}
