
// Login
.login-title {
    font-size: 4rem;

    span {
        color: $color__primary;
    }
}

// Dashboard
.dash-title {
    margin-top: 4.5rem;
}
table.table.dataTable { margin: 0 !important; }
#shows, #dashboard {
    th {
        padding: 0.8rem 0;
    }

    td {
        padding: 0.4rem 0;
        word-wrap: break-word;
        word-break: break-all;
        table-layout: fixed;

        div {
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            margin-top: 1rem;

            .icon {
                width:  1.5rem;
                height: 1.5rem;
                margin-top: -1.5rem;
            }
        }

        a {
            font-family: $mb-global__font-secondary;
            display: inline-block;
            padding-top: 0.5rem;
        }

        span {
            font-size: 1.2rem;
            color: $color__scorpion;
        }

        .heading {
            display: inline-block;
            width: 6rem;
        }

        .info {
            font-family: $mb-global__font-secondary;

            span {
                color: transparent;
                font-size: 1px;
            }
        }

        .delete button {
            display: block;
            position: relative;
            top: 0.8rem;

            .icon {
                width: 1.6rem;
                height: 1.6rem;
            }
        }
    }

    td:first-child {
        padding-top: 1rem;
        color: $color__dusty-grey;
    }

    .complete {
        .icon {
            color: $color__primary;
            width:  1.5rem;
            height: 1.5rem;
        }
    }

    .incomplete {
        .icon {
            color: $color__secondary;
        }
    }
}
.dash-search {
    position: relative;

    input {
        padding-right: 3.5rem;
    }

    .dash-search__clear {
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;

        .icon {
            color: $color__primary;
            cursor: pointer;

            &:hover {
                color: $color__scorpion;
            }
        }
    }
}
.dash-approvals {
    overflow: hidden;

    .panel__full {
        display: flex;
    }

    a {
        font-family: $mb-global__font-secondary;
        display: inline-block;
        background-color: white;
        width: 25%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        border-left: 1px solid $color__alto;
    }

    a:first-child {
        border-left: none;
    }
}
#dash-filter {
    float: right;
    margin-top: 4.5rem;

    .chosen-container {
        &.chosen-container-single .chosen-single {
            padding: 0 0 0 1rem;
            height: auto;

            div {
                width: 3rem;
            }
        }

        &.chosen-container-active.chosen-with-drop {
            .chosen-single {
                background-color: $color__concrete;
            }
            .chosen-drop {
                background-color: white;
            }
        }
    }

    .dash-filter__cat {
        display: inline-block;

        .chosen-container {
            width: 15.5rem !important;
        }
    }

    .dash-filter__status {
        display: inline-block;
        margin-left: 0.5rem;

        .chosen-container {
            width: 13.5rem !important;
        }
    }
}
.dash-select {
    margin-bottom: 2rem;
}
.info-blocks {
    width: 100%;

    .panel {
        height: 16rem;
    }

    .info-block {
        float: left;
        width: 31%;
        margin-top: 4.5rem;
        margin-left: 3.5%;
        font-size: 1.6rem;
    }

    .info-block:first-child {
        margin-left: 0;
    }

    span {
        display: block;
        margin-bottom: 1.5rem;
    }

    a {
        font-family: $mb-global__font-secondary;
    }
}
.text-center {
    background-color: $color__concrete;
    padding: 1rem 0;

    a {
        font-family: $mb-global__font-secondary;
        color: $color__scorpion;

        &:hover {
            text-decoration: none;
            color: $color__primary;
        }
    }
}
.plus-span {

    .icon {
        position: relative;
        color: white;
        width:  1.6rem;
        height: 1.6rem;
        top: -0.2rem;
        left: -0.5rem;
    }

    a:active & {
        .icon {
            color: $color__scorpion;
        }
    }
}


// Create page
.panel__full.create {
    input[type="text"] {
        display: inline-block;
        width: 44rem;
        margin-left: 2rem;
    }

    button[type="submit"] {
        display: inline-block;
        position: relative;
        padding: 1rem 5.5rem 1rem 6rem;
        margin-top: -0.2rem;
        margin-left: 0.6rem;
        background-color: $color__primary;
        border-color: $color__primary;
        color: white;

        &:hover {
            background-color: $mb-buttons__primary-bg-color--hover;
        }
    }

    &.solo-button {
        .btn {
            padding-left: 3.5rem;
        }
    }
}


//Show Listing
.show-listing {
    input[name="search"] {
        margin: 0;
    }

    .panel__full.create {
        input[type="text"] {
            margin: 0;
            width: 30.2rem;
        }

        button[type="submit"] {
            padding: 1.1rem 2.5rem 1rem 3rem;
        }
    }

    .panel .panel__row {
        margin-bottom: 1rem;
    }
}


// Details
.desc_online {
    display: none;

    &.open {
        display: block;
    }
}
.interpretor {
    display: none;

    &.open {
        display: block;
    }
}


// Personnel
.personnel__producer {
    .chosen-container {
        margin-bottom: 1.4rem;
    }
}
.table.personnel {
    td {
        border: none;
    }

    .col-2, .col-3 {
        width: 170px;
    }

    .col-4 {
        width: 132px;
    }

    button[type="submit"].icon-button {
        width: auto;
        height: auto;
        padding-left: 4.5rem;
        padding-right: 2.8rem;

        .icon-span {
            top: -0.2rem;
            left: 2rem;
            pointer-events: none;
        }
    }
}

button[type="submit"].icon-button {
    background-color: transparent;
    border: none;
    color: $color__primary;
    transition: color .3s ease-out;
    width: 2rem;
    height: 2rem;
    padding: 0;

    &:hover {
        color: $color__scorpion;
    }

    .icon-span {
        top: 0;
        left: 0;
        pointer-events: none;
    }
}


// Venues
#venue-new {
    display: none;

    &.open {
        display: block;
    }
}
#venues {
    form.plain {
        float: inherit;
    }
}
.no-sessions {
    display: inline-block;
    padding: 3rem;
}
.time {
    .colon {
        position: relative;
        display: inline-block;
        top: -0.8rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .period {
        margin-left: 0.7rem;
    }
}
table.table.sessions {
    th.col-3, th.col-4, th.col-5 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .col-1 {
        padding-left: 2rem;
        width: 336px;
    }
    .col-6 {
        width: 50px;
        max-width: 50px;
    }
    td.col-2, td.col-3, td.col-4, td.col-5 {
        text-align: center;
        padding-top: 1.8rem;
    }
    td.col-6 {
        padding-top: 1.4rem;
    }

    &.admin {
        .col-1 {
            width: 228px;
        }
    }
}
.venue-title {
    margin-top: 0;
}


// Tickets
.panel__inner.panel__provider {
    background-color: $color__concrete;
    border-radius: $mb-global__border-radius;
    box-shadow: $mb-global__box-shadow;
    border: 1px solid $color__silver;
    display: none;

    &.open {
        display: block;
    }

    .panel__right {
        width: 28rem;
    }

    .provider_item {
        position: relative;
        border-top: 1px solid $color__alto;
        padding-top: 2rem;

        &:first-child {
            border: none;
            padding: 0;
        }
    }
}
.booking-options {
    display: none;

    &.open {
        display: block;
    }
}


// Price Groups
.panel__row.group {
    display: none;

    &.open {
        display: block;
    }

    .panel__right {
        width: 30rem;
    }
    .panel__row.field {
        padding: 0;
        margin-top: 1rem;
        margin-bottom: 2rem;
        border: none;
    }
}
.price-options {
    display: none;

    &.open {
        display: block;
    }
}

.form__label-radio.same, .form__label-radio.daily {
    border-radius: $mb-global__border-radius-form;
}
.form__label-radio.same {
    margin-bottom: 2rem;
}

.panel__indent.same, .panel__indent.daily {
    display: none;
    margin-bottom: 2rem;

    &.open {
        display: block;
    }

    input[type="number"] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    .input-group {
        .input-group-addon {
            background-color: white;
            color: black;
            border-color: $color__mercury;
            border-right: none;
            border-top-left-radius: $mb-global__border-radius-form;
            border-bottom-left-radius: $mb-global__border-radius-form;
            cursor: default;
        }
        &:hover {
            .input-group-addon, input[type="number"] {
                border-color: $color__dusty-grey;
            }
        }
    }
}
.panel__indent.daily {
    .input-group {
        span {
            display: inline-block;
            width: 60px;
            font-family: $mb-global__font-secondary;
        }
        input {
            display: inline-block;
            width: 21rem;
        }
        padding-bottom: 1rem;
    }
}


// Permissions
.permissions {
    th {
        font-size: 1.3rem;
        text-transform: uppercase;
    }

    td.center {
        text-align: center;
    }
}


// Preview
.preview__title {
    word-wrap: break-word;
    word-break: break-all;
}
.preview_item {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .preview_item__title {
        float: left;
        width: 50%;
        font-weight: bold;
    }

    .preview_item__data {
        float: left;
        width: 50%;
        padding-left: 1rem;
        word-wrap: break-word;
        word-break: break-all;

        &.info {
            color: $color__dusty-grey;
        }
    }

    .preview_item__image {
        padding: 0 2rem 3rem 2rem;
    }

    &:nth-child(odd) {
        background-color: $color__concrete;
    }
}
.panel.preview {
    h3 {
        margin-bottom: 0.5rem;
    }
}
.panel__row.preview__contact {
    padding-bottom: 2.5rem;
    margin-bottom: 2.5rem;
    border-bottom: 1px solid $color__silver;

    &:last-child {
        padding: 0;
        margin-bottom: 3rem;
        border: none;
    }
}


// Obligations
.obligations {
    p .title {
        word-wrap: break-word;
        word-break: break-all;
    }
}
ol.roman {
    list-style-type: lower-roman;
    list-style-position: outside;
}

// Resources
.accordian__section {

    .accordian__title {
        padding: 2rem 0;
        border-top: 2px solid $color__concrete;
        cursor: pointer;

        &:hover {
            background-color: $color__concrete;

            h3 {
                color: $color__primary;
            }
        }

        .icon {
            position: relative;
            display: inline-block;
            top: -0.3rem;
            width: 8rem;
            color: $color__primary;
        }

        .icon-minus {
            display: none;
        }

        h3 {
            display: inline-block;
            margin: 0;
        }
    }
    &:first-child .accordian__title {
        border: none;
    }

    .accordian__content {
        display: none;
        padding: 0 8rem;
        margin-bottom: 3rem;
    }

    .accordian__item {
        display: flex;
        background-color: $color__concrete;
        border-radius: $mb-global__border-radius-form;
        margin-bottom: 0.3rem;
        padding: 1rem 2rem;

        .accordian__icon {
            width: 4%;

            .icon {
                position: relative;
                top: -0.2rem;
            }
        }
        .accordian__name {
            width: 31%;
            font-family: $mb-global__font-secondary;
        }
        .accordian__type {
            width: 25%;
        }
        .accordian__link {
            width: 40%;

            a:hover {
                text-decoration: none;
            }

            .icon {
                position: relative;
                top: -0.2rem;
                width: 1.6rem;
                height: 1.6rem;
                margin-right: 1rem;
            }
        }
    }

    &.open {
        .accordian__title {
            cursor: default;

            &:hover {
                background-color: white;

                h3 {
                    color: black;
                }
            }
        }

        .accordian__content {
            display: block;
        }

        .icon-minus {
            display: inline-block;
        }
        .icon-plus {
            display: none;
        }
    }
}


// Admin
.admin-title {
    .icon {
        position: relative;
        top: -0.3rem;
        margin-right: 1rem;
    }
}
.admin-link {
    .icon {
        position: relative;
        top: -0.2rem;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem
    }
}
.override-form {
    display: none;

    &.open {
        display: block;
    }
}
.override-panel {
    wheelchair, licensed, adults {
        display: none;
    }
}

// Reports
.report-select {
    display: none;

    .chosen-container {
        margin-bottom: 0.5rem;
    }
}

// Reviews
table.table.reviews {
    .col-1 {
        padding-left: 2rem;
        width: 30rem;
    }
    .col-2, .col-3 {
        width: 16.8rem;
    }
    .col-4, .col-5 {
        width: 5rem;
    }

    .icon-button {
        position: relative;
        top: -0.5rem;
    }
}

// Media Releases
.release-link {
    .icon-button {
        position: relative;
        top: -0.5rem;
    }
}

.release-thumb {
    margin-bottom: 1rem;

    .icon-button {
        position: relative;
        top: -1rem;
    }
}


// Participant passes
.main-wrapper h3.pass-name {
    margin-bottom: 1rem;
}

button.icon-button.pass-remove[type="submit"] {
    width: 8.5rem;
    padding-left: 2.5rem;

    .icon-span {
        top: -0.2rem;
        pointer-events: none;
    }
}

.pass-item {
    display: flex;

    .pass-image {
        width: 13.6rem;
    }

    .pass-info {
        padding: 0 1rem;

        .pass-position {
            font-weight: bold;
        }

        div {
            line-height: 1;
            margin-bottom: 1rem;
        }

        .icon {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 0.8rem;
        }
    }
}

// Media Centre
#media-centre {
    font-size: 1.4rem;

    tbody td:first-child {
        font-family: $mb-global__font-secondary;
    }

    .media-centre-download {
        font-family: $mb-global__font-secondary;

        .icon {
            width: 1.5rem;
            height: 1.5rem;
            margin-top: -0.2rem;
            margin-right: 0.5rem;
        }
    }
}

// Media Centre Roadshow
.roadshow-datatable {
    display: none;
}

.media-search {
    position: relative;
    display: inline;
    float: left;
    width: 36%;
    margin-right: 2rem;

    input {
        padding-right: 3.6rem;
    }

    .media-search__clear {
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        color: $color__primary;
        cursor: pointer;

        &:hover {
            color: $color__dusty-grey;
        }
    }
}

.roadshow-accordian {
    .accordian__section .accordian__item .accordian__name { width: 40%; }
    .accordian__section .accordian__item .accordian__link { width: 31%; }

    .icon {
        position: relative;
        width: 1.6rem;
        height: 1.6rem;
        top: -0.2rem;
        margin-right: 1rem;
    }
}

#roadshow {
    margin: 0;

    thead {
        display: none;
    }

    tr {
        background-color: white;

        &:hover {
            background-color: white;
        }
    }

    td {
        padding-right: 2rem;
        border: none;
    }

    .accordian__item {
        margin: 0;
    }
}

.roadshow-nationality {
    display: none;
}

// Extra shows
.extra-show-status {
    .icon-check-circle-o {
        color: $color__primary;
    }
    .icon-cross {
        color: $color__concrete;
    }
}
