
/**
 *
 * CLOSE
 *
 * Closable element - can be applied to anything so not a lot of styling
 *
 */


//// VARIABLES
$_mb-close__transition: $mb-close__transition;


//// DEFINITIONS
//// Add/remove as needed per project
//// -------------------------------------------
@include static-classes(close);
@include static-modifiers(closable, (closed));


//// SILENT CLASSES
//// -------------------------------------------

%close {
  cursor: pointer;

  // A simple default style for close icons to be positioned top-right
  &.icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

%closable {
  position: relative;

  // Default style - add a shrink & fade transition
  transition: $_mb-close__transition;
}

%closable--closed {
  // Closed - hide and unset pointer events
  opacity: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  pointer-events: none !important;
}