
/**
 *
 * SIDE MENU
 *
 * Tested to work on (windows/mac):
 *	Chrome xx.xx+
 *	Safari xx.xx+
 *	Firefox xx.xx+
 *	IE xx.xx+
 *	Android xx.xx+
 *	iOS xx.xx+
 */



//// VARIABLES
//// -------------------------------------------
// Variables which are just straight mappings should not be overrideable here
// (i.e., no !default on the end). Variables which reference $mb-global-* or
// are modifying other variables (e.g., mix(...)) should have !default on the
// end so they can be individually overridden if need be

$_mb-menu__width: $mb-menu__width;
$_mb-menu__height: $mb-menu__height;
$_mb-menu__transition: transform ease-out 0.3s !default;



//// DEFINITIONS
//// Add/remove as needed per project
//// -------------------------------------------

.side-menu__menu,
.side-menu__content {
    @extend %side-menu__transition;
}

.side-menu__menu {
    @extend %side-menu__menu;

    &.side-menu__menu--left {
        @extend %side-menu__menu--left;

        .side-menu--test-menu-left & { @extend %side-menu--active-menu-left; }
    }

    &.side-menu__menu--right {
        @extend %side-menu__menu--right;

        .side-menu--test-menu-right & { @extend %side-menu--active-menu-right; }
    }

    &.side-menu__menu--top {
        @extend %side-menu__menu--top;

        .side-menu--test-menu-top & { @extend %side-menu--active-menu-top; }
    }

    &.side-menu__menu--bottom {
        @extend %side-menu__menu--bottom;

        .side-menu--test-menu-bottom & { @extend %side-menu--active-menu-bottom; }
    }
}

.side-menu__content {
    .side-menu--left.side-menu--test-menu-left   & { @extend %side-menu--active-menu-left;  }
    .side-menu--right.side-menu--test-menu-right & { @extend %side-menu--active-menu-right; }
    .side-menu--top.side-menu--test-menu-top & { @extend %side-menu--active-menu-top; }
    .side-menu--bottom.side-menu--test-menu-bottom & { @extend %side-menu--active-menu-bottom; }
}

// Support class, not to be extended
// 1. Hack to workaround the issue of browsers (iOS in particular) causing the
//    viewport size to be increased due to being pushed off the right side
.side-menu--left-on { overflow: hidden; } // [1]



//// SILENT CLASSES
//// -------------------------------------------

%side-menu__transition {
    transition: $_mb-menu__transition;
}

// 1. Enable native rubberbanding
%side-menu__menu {
    position: fixed;
    top:    0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    z-index: 1;
    -webkit-overflow-scrolling: touch; // [1]
            overflow-scrolling: touch; // [1]
}

%side-menu__menu--left {
    width: $_mb-menu__width;
    right: auto;
    margin-left: -1 * $_mb-menu__width;
}

%side-menu__menu--right {
    width: $_mb-menu__width;
    left: auto;
    margin-right: -1 * $_mb-menu__width;
}

%side-menu__menu--top {
    height: $_mb-menu__height;
    bottom: auto;
    margin-top: -1 * $_mb-menu__height;
}

%side-menu__menu--bottom {
    height: $_mb-menu__height;
    top: auto;
    margin-bottom: -1 * $_mb-menu__height;
}

%side-menu--active-menu-left {
    transform: translateX($_mb-menu__width);
}

%side-menu--active-menu-right {
    transform: translateX(-1 * $_mb-menu__width);
}

%side-menu--active-menu-top {
    transform: translateY($_mb-menu__height);
}

%side-menu--active-menu-bottom {
    transform: translateY(-1 * $_mb-menu__height);
}