
/**
 *
 * SEARCH
 *
 * Tested to work on (windows/mac):
 *  Chrome xx.xx+
 *  Safari xx.xx+
 *  Firefox xx.xx+
 *  IE xx.xx+
 *  Android xx.xx+
 *  iOS xx.xx+
 */



//// VARIABLES
//// -------------------------------------------
// Variables which are just straight mappings should not be overrideable here
// (i.e., no !default on the end). Variables which reference $mb-global-* or
// are modifying other variables (e.g., mix(...)) should have !default on the
// end so they can be individually overridden if need be

$_mb-search__border-radius: 50rem; // Arbitrarily large number

$_mb-search__btns-border       : $mb-forms__inputs-border !default;
$_mb-search__btns-bg           : transparent !default;
$_mb-search__btns-transition   : color ease-out 0.2s !default;
$_mb-search__btns-padding-right: 1rem !default;

$_mb-search__btns-icon-width : $mb-search__btns-icon-width;
$_mb-search__btns-icon-height: $mb-search__btns-icon-height;

$_mb-search__input-text__padding-left: 2rem !default;

$_mb-search__group--expandable-width          : $mb-search__group--expandable-width;
$_mb-search__group--expandable-width--expanded: $mb-search__group--expandable-width--expanded;
$_mb-search__group--expandable-transition     : width ease-out 0.4s !default;

$_mb-search__group--toggled-transition       : width ease-out 0.4s, padding ease-out 0.4s !default;
$_mb-search__group--toggled-icon-width       : 4.2rem !default;
$_mb-search__group--toggled-icon-side-padding: 1rem !default;

$_mb-search__group--toggled-text-padding-left : 2rem !default;
$_mb-search__group--toggled-text-padding-right: 1rem !default;



//// DEFINITIONS
//// Add/remove as needed per project
//// -------------------------------------------

.search__btn,
.search__close {
    @extend %search__btns;

    .icon { @extend %search__btns-icon; }
}

.search__input[type="text"] { @extend %search__input-text; }

// Not sure about this structure
.search__group {
    @extend %search__group;

    &.search__group--expandable {
        @extend %search__group--expandable;

        .search__input[type="text"] {
            @extend %search__group--expandable__text;

            &.search__input--expanded { @extend %search__group--expandable__text--expanded; }
        }
    }

    &.search__group--hidden,
    &.search__group--shown {
        .search__input[type="text"] { @extend %search__group--toggled__text; }
        .search__btn   { @extend %search__group--toggled__search-btn; }
        .search__close { @extend %search__group--toggled__close-btn;  }
    }

    &.search__group--shown {
        .search__input[type="text"] { @extend %search__group--toggled--active__text; }
        .search__close { @extend %search__group--toggled--active__close-btn; }
    }
}



//// SILENT CLASSES
//// -------------------------------------------

%search__btns {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: $_mb-search__btns-border;
    border-left: none;
    border-top-right-radius:    $_mb-search__border-radius;
    border-bottom-right-radius: $_mb-search__border-radius;
    padding-right: $_mb-search__btns-padding-right;
    transition: $_mb-search__btns-transition;

    &:hover, &:focus {
        color: $mb-typography__default-color;
    }
}

%search__btns-icon {
    width:  $_mb-search__btns-icon-width;
    height: $_mb-search__btns-icon-height;
}

%search__input-text {
    border-top-left-radius:    $_mb-search__border-radius;
    border-bottom-left-radius: $_mb-search__border-radius;
    padding-left: $_mb-search__input-text__padding-left;
    border-right: none;
}

%search__group {
    display: flex;
}

%search__group--expandable {
    display: inline-flex;
}

%search__group--expandable__text {
    width: $_mb-search__group--expandable-width;
    transition: $_mb-search__group--expandable-transition;
}

%search__group--expandable__text--expanded {
    width: $_mb-search__group--expandable-width--expanded;
}

%search__group--toggled__text {
    width: 0;
    padding-left:  0;
    padding-right: 0;
    transition: $_mb-search__group--toggled-transition;
}

%search__group--toggled__search-btn {
    border-right: none;
    border-radius: 0;
}

%search__group--toggled__close-btn {
    width: 0;
    padding: 0;
    border-left: none;
    transition: $_mb-search__group--toggled-transition;
}

%search__group--toggled--active__text {
    width: 100%;
    padding-left:  $_mb-search__group--toggled-text-padding-left;
    padding-right: $_mb-search__group--toggled-text-padding-right;
}

%search__group--toggled--active__close-btn {
    width: $_mb-search__group--toggled-icon-width;
    padding-left:  $_mb-search__group--toggled-icon-side-padding;
    padding-right: $_mb-search__group--toggled-icon-side-padding;
}